@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100;16..144,200;16..144,300;16..144,400;16..144,500;16..144,600;16..144,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/volkhov');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;

}

::selection {
    color: white;
    background: #919191;
}

nav {
    margin-top: 2vh;
    font-family: 'Montagu Slab', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 20px;

}

nav ul li a {
    color: black;
    transition: ease-in .3s;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    color: #92E3A9;
}


nav ul li ul.dropdown li {
    border-bottom: 1px;
    display: block;
    transition: all .3s ease;
}

nav ul li ul.dropdown {
    width: 100%;
    background: #51795c;
    position: absolute;
    z-index: 999;
    display: none;
    border: 1px;
    align-items: center;

}



nav ul li:hover ul.dropdown {

    display: block;
}

section {
    display: flex;
    margin-top: 20vh;
    align-items: center;
    justify-content: space-evenly;
}

section img {
    width: 30vw;


}

section .sect-right {
    font-family: 'Volkhov', sans-serif;
    margin-left: 10%;
}

section .sect-right h1 {
    font-family: inherit;
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 5vh;
}

section .sect-right p {
    font-family: inherit;
    font-size: 1.21rem;
    text-align: left;
    margin-bottom: 10vh;
}



section .sect-right button {

    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Volkhov', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgb(146, 227, 169) 0%, rgb(146, 227, 169) 100%);
    width: 200px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    border: none;

}

.btn-3 span {

    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #51795c;
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: #51795c;
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #51795c;
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.corfundo {
    margin-top: 20vh;
    background: linear-gradient(to left, #92E3A9, #51795c);
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Volkhov', sans-serif;

}



#box.container {
    margin-top: 10vh;
}

#box .card img {

    width: 500px;
    margin-left: 40px;

}

#box.container .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#box.container .card:hover {
    transform: scaleY(1.1);
    transition: .3s ease-in;

}

.historia {
    background-image: url(/imgs/background-rosa.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.historia .container {
    display: flex;
    margin-top: 40vh;

}

.historia .container .container-left {

    margin-right: 10vw;
    margin-bottom: 50vh;
}

.historia .container .container-left p {
    font-family: 'Montagu Slab', sans-serif;
    color: #fff;
}

footer {

    background-color: #51795c;
    height: auto;
    width: 100%;
    font-family: 'Montagu Slab', sans-serif;
    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials li a {
    text-decoration: none;
    columns: #fff;
}

.socials a i {
    font-size: 1.1rem;
    color: #fff;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #92E3A9;
}

.footer-bottom {
    background: #919191;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}


.btn-pedir {
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #51795c;
    border-radius: 5px;
    border: none;
    margin-top: 3vh;
    transition: all .5s ease-in;
}

.btn-pedir:hover {
    cursor: pointer;
    background-color: #fff;
    color: #51795c;
    border: 1px solid #51795c;

}

.container#box .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}